In [19]:
import pandas as pd
import numpy as np
person1=pd.Series({'id':101,
                 'Name':'Shikha',
                 'Description':'beautiful'})
person2=pd.Series({'id':102,
                 'Name':'Akash',
                 'Description':'Intelligent'})
person3=pd.Series({'id':103,
                 'Name':'Munnu',
                 'Description':'Cutie'})
DF=pd.DataFrame([person1,person2,person3],index=['store1','store2','store3'])

DF

        Description    Name   id
store1    beautiful  Shikha  101
store2  Intelligent   Akash  102
store3        Cutie   Munnu  103

In [4]:
DF.loc['store1']   #Selecting Rows

Description    beautiful
Name              Shikha
id                   101
Name: store1, dtype: object

In [5]:
DF['Description']   #Selecting Column

store1      beautiful
store2    Intelligent
store3          Cutie
Name: Description, dtype: object

In [8]:
#Selecting a cell ie. intersection of rows and column

DF.loc['store1']['Name']

'Shikha'

**Slicing**

In [15]:
DF.loc[:]['Name']

store1    Shikha
store2     Akash
store3     Munnu
Name: Name, dtype: object

In [17]:
DF.loc[:,'Name']

store1    Shikha
store2     Akash
store3     Munnu
Name: Name, dtype: object

In [18]:
DF.loc[:]

        Description    Name   id
store1    beautiful  Shikha  101
store2  Intelligent   Akash  102
store3        Cutie   Munnu  103